@import '@styles/variables';

.header {
  background-color: $header-background;
  display: flex;
  align-items: center;
  padding: $header-padding-col $header-padding-row;
  box-sizing: border-box;
  height: $header-height;
  color: $primary-font-color;
  justify-content: center;
  border-bottom: $header-border-bottom;
}
