@import '@styles';

.header {
  background-color: $primary-gray;
  display: flex;
  align-items: center;
  padding: $header-padding-col $header-padding-row;
  box-sizing: border-box;
  height: $header-height;
  color: $primary-font-color;
  justify-content: center;
  z-index: 3;
  position: relative;
}
