@import '@styles';

.issueItem {
  display: flex;
  background-color: $header-background;
  border-radius: $home-item-border-radius;
  margin-bottom: $home-item-margin-bottom;
  padding: $home-item-col-padding $home-item-row-padding;
  .issueContentWrapper {
    flex: 1;
    max-width: 100%;
    .issueLabels {
      display: flex;
      .label {
        background-color: $primary-font-color;
        padding: 1px 5px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 3px;
        color: black;
        font-weight: bold;
        margin-right: 5px;
        margin-bottom: 5px;
        opacity: 0.9;
        transition: opacity $transition-time-2;
        &:hover {
          opacity: 1;
        }
      }
    }
    .issueItemTitle {
      color: $font-color;
      font-weight: bold;
      font-size: $home-item-title-font-size;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .issueItemContent {
      padding-top: $home-content-padding-top;
      font-size: $home-content-font-size;
      color: $font-color-1;
      cursor: pointer;
      transition: color $transition-time-2;
      &:hover {
        color: $font-color;
        text-decoration: underline;
      }
      @include multipleLineEllipsis($home-content-lines-num, $home-content-line-height);
    }
    .issueItemFooter {
      margin-top: $home-footer-margin-top;
      font-size: $home-footer-font-size;
      .issueUser {
        color: $home-footer-user-color;
        margin-right: $home-footer-user-margin-right;
        cursor: pointer;
        transition: color $transition-time-2;
        &:hover {
          text-decoration: underline;
          color: $link-font-hover-color;
        }
      }
      .issueUpdateDate {
        color: $home-footer-date-color;
      }
    }
  }

  .mainImg {
    border-radius: $home-content-border-radius;
    margin-left: $home-content-margin-left;
    width: $home-content-image-width;
    height: $home-content-image-height;
    background-position: center;
    background-size: cover;
  }
}
