$background: #2e2e2e;
$primary: #facc4f;
$primary-blue: #5ceffc;
$primary-red: #fe5e58;
$primary-1: rgb(220, 87, 18);
$primary-2: rgb(138, 151, 123);
$primary-3: rgb(182, 194, 154);
$transition-time-1: 0.15s;
$transition-time-2: 0.35s;
$transition-time-3: 0.55s;

$font-color: white;
$font-color-1: #ddd;
$font-color-2: #ccc;
$font-size-content: 14px;
$primary-font-color: #facc4f;
$link-font-color: #2077d3;
$link-font-hover-color: #29b0eb;
$hover-font-color: #504e63;
$border-color: #a88661;
