@mixin multipleLineEllipsis($linesNum, $lineHeight) {
  height: $lineHeight * $linesNum;
  line-height: $lineHeight;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $linesNum;
  overflow: hidden;
}

@mixin readableWrapper($width: 800px, $padding: 0px) {
  margin: 0 auto;
  background-color: $background;
  width: $width;
  overflow: hidden;
  padding: $padding;
}
