@mixin multipleLineEllipsis($linesNum, $lineHeight) {
  height: $lineHeight * $linesNum;
  line-height: $lineHeight;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $linesNum;
  overflow: hidden;
}

@mixin readableWrapper($width: 800px, $padding: 0px) {
  margin: 0 auto;
  background-color: $background;
  width: $width;
  // overflow: hidden;
  padding: $padding;
}

@mixin singleLineEllipsis() {
  overflow: hidden; /*超出部分隐藏*/
  white-space: nowrap; /*禁止换行*/
  text-overflow: ellipsis; /*省略号*/
}
