@import 'baseValue.scss';

$border: 1px solid $primary-red;
$border-gray: 1px solid rgb(44, 45, 45);
// Header
$header-background: $background;
$header-height: 50px;
$header-title-font-size: 50px;
$header-padding-col: 30px;
$header-padding-row: 50px;
$header-border-bottom: $border;

$nav-height: 40px;
$nav-item-bottom: linear-gradient(to right, #faa964, #e6aa49, #facc4f);

// Content
$content-background: $background;

// SideBar
$sideBar-background: $background-light;
$sideBar-default-width: 350px;
$profile-padding: 50px 0;
$avatar-width: 120px;
$avatar-height: $avatar-width;
$avatar-border-radius: $avatar-width / 2;
$avatar-margin-bottom: 10px;

// Home
$home-background: $background;
$home-padding: 1px;
$home-item-border-radius: 0px;
$home-item-margin-bottom: 20px;
$home-item-col-padding: 10px;
$home-item-row-padding: 0px;
$home-item-title-font-size: 25px;
$home-item-border-bottom: $border;

$home-content-padding-top: 5px;
$home-content-font-size: 16px;
$home-content-line-height: 25px;
$home-content-lines-num: 4;
$home-content-image-width: 200px;
$home-content-image-height: 145px;
$home-content-border-radius: 5px;
$home-content-margin-left: 10px;

$home-footer-margin-top: 7px;
$home-footer-font-size: 13px;
$home-footer-user-color: #2077d3;
$home-footer-user-margin-right: 5px;
$home-footer-date-color: #bbb;

// Tags
$tags-title-font-size: 50px;
$tags-title-color: white;
$tags-title-margin-top: 10px;
$tags-title-margin-bottom: 30px;

$label-item-height: 30px;
$label-item-line-height: 30px;
$label-item-padding: 0 20px;
$label-item-border-radius: $label-item-height;
$label-item-border: 2px solid $primary;
$label-item-font-size: 20px;
$label-item-color: $primary;
