@import '@/components/styles';

.showMore-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .showMore-button {
    font-size: 14px;
    padding: 0 20px;
    border-radius: 5px;
    color: $primary-red;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    display: block;
    position: relative;

    &:hover .main-text {
      transform: translateY(100%);
    }

    &:hover .icon-text {
      transform: none;
    }
    .main-text {
      display: inline-block;
      transition: transform $transition-time-1 ease-out;
    }
    .icon-text {
      transition: transform $transition-time-1 ease-out;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-100%);
    }
  }
}
