@import '@styles/variables';

.sideBar-wrapper {
  width: $sideBar-default-width;
  background-color: $sideBar-background;
  background-image: radial-gradient(circle, rgba(250, 204, 79, 0.1) 0%, $sideBar-background 100%);
  min-height: 100vh;
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $profile-padding;
    .avatar-wrapper {
      width: $avatar-width;
      height: $avatar-height;
      border-radius: $avatar-border-radius;
      overflow: hidden;
      margin-bottom: $avatar-margin-bottom;
      cursor: pointer;
      .avatar {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
      }
    }
    .title {
      left: $header-padding-row;
      color: $primary-font-color;
      font-weight: bold;
      transition: color $transition-time-1;
      font-size: $header-title-font-size;
      cursor: pointer;
      &:hover {
        color: $nav-item-bottom;
      }
    }
  }
}
