@import '~@/styles/_baseValue.scss';

$nav-item-height: 60px;
$nav-item-padding: 5px 10px;
$nav-item-fontSize: 18px;
$nav-item-margin-left: 20px;

$timeline-item-width: 80px;
$timeline-item-height: 50px;
$timeline-item-right: -20px;
$timeline-item-line-height: 50px;
$timeline-color: $font-color-4;
$timeline-title-font-size: 30px;
$timeline-title-dot-border: 5px solid $font-color-4;
$timeline-title-dot-radius: 5px;
$timeline-title-dot-background-color: $font-color-3;
$timeline-link-dot-radius: 10px;
$timeline-link-dot-background-color: $font-color;
$timeline-link-dot-border: 2.5px solid transparent;
$timeline-item-bottom-line: $font-color-2;
