@import '@styles/variables';

.header {
  background-color: $header-background;
  display: flex;
  align-items: center;
  padding: $header-padding-col $header-padding-row;
  box-sizing: border-box;
  height: $header-height;
  color: $primary-font-color;
  font-size: $header-title-font-size;
  display: flex;
  justify-content: center;
  .title {
    position: absolute;
    left: $header-padding-row;
    color: $primary-font-color;
    font-weight: bold;
    cursor: pointer;
    transition: color $transition-time-1;
    &:hover {
      color: $hover-font-color;
    }
  }
}
