@import '~@/components/styles';

@mixin item {
  width: $timeline-item-width;
  height: $timeline-item-height;
  line-height: $timeline-item-line-height;
  text-align: right;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  color: $timeline-color;

  .title-wrapper {
    @include item();
    position: relative;
    h3 {
      font-size: $timeline-title-font-size;
    }
    &::after {
      @include verticalCenter();
      z-index: 10;
      content: '';
      right: $timeline-item-right;
      height: $timeline-title-dot-radius;
      width: $timeline-title-dot-radius;
      border: $timeline-title-dot-border;
      display: block;
      border-radius: 50%;
      background-color: $timeline-title-dot-background-color;
    }
  }

  .subline-wrapper {
    .link-wrapper {
      display: flex;
      &:nth-of-type(odd) {
        background-image: $timeline-link-background;
      }
      .link-left {
        @include item();
        position: relative;
        margin-right: $timeline-link-margin-right;
        &::after {
          @include verticalCenter();
          content: '';
          z-index: 10;
          right: $timeline-item-right;
          height: $timeline-link-dot-radius;
          width: $timeline-link-dot-radius;
          display: block;
          border-radius: 50%;
          background-color: $timeline-link-dot-background-color;
          border: $timeline-link-dot-border;
          background-clip:content-box;
        }
      }
      .link-right {
        // @include item();
        display: flex;
        align-items: center;
        text-align: left;
        color: $primary-blue;
        &:hover {
          color: $primary-red;
          transition: color $transition-time-2;
        }
      }
    }
  }
}

.hasTopLine {
  &::before {
    content: '';
    right: $timeline-item-bottom-right;
    bottom: $timeline-item-height / 2;
    width: $timeline-item-bottom-line-width;
    background-color: $timeline-item-bottom-line;
    height: $timeline-item-height;
    position: absolute;
    opacity: .5;
  }
}
