@import '@styles';

.content-sidebar {
  width: $content-sidebar-width;
  .recent-update {
    margin-top: 100px;
    border-left: 1px solid $primary-white;
    width: 300px;
    color: $font-color-3;
    h3 {
      padding: 0 0 10px 20px;
    }
    .update-list {
      padding: 0 0 0 50px;
      li {
        @include singleLineEllipsis;
        line-height: 30px;
        text-decoration: underline;
        transition: color $transition-time-2;
        cursor: pointer;
        font-size: 14px;
        &:hover {
          color: $primary-red;
        }
      }
    }
  }

  .trend-tags {
    margin-top: 100px;
    border-left: 1px solid $primary-white;
    width: 300px;
    color: $font-color-3;
    h3 {
      padding: 0 0 10px 20px;
    }
    .tags-list {
      padding: 0 0 0 20px;
      li {
        line-height: 25px;
        border: 1px solid $primary-white;
        color: $font-color-2;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        border-radius: 15px;
        display: inline-block;
        padding: 0 12px;
        text-decoration: underline;
        cursor: pointer;
        transition: color $transition-time-2;
        transition: background-color $transition-time-2;
        &:hover {
          color: black;
          background-color: $primary;
          text-decoration: none;
        }
      }
    }
  }
}
