@import '../styles';

.navList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 80px;
}

.navItem {
  position: relative;
  box-sizing: border-box;
  line-height: $nav-item-height;
  font-size: $nav-item-fontSize;
  list-style: none;
  cursor: pointer;
  transition: color $transition-time-2;
  color: $font-color;
  height: $nav-item-height;
  letter-spacing: 10px;
  width: 100%;
  &.activeItem {
    color: $primary-font-color;
    &::before {
      content: '';
      position: absolute;
      top: 20%;
      right: 0;
      width: 5px;
      height: 60%;
      background: $primary;
      z-index: 1;
      transform: none;
    }
  }
  &:hover {
    color: $primary-font-color;
    text-shadow: 0 0 10px $primary;
    transition: text-shadow $transition-time-2;
    .navItemIcon {
      color: $primary-font-color;
    }
  }
  &:hover::before {
    transform: scaleX(1);
  }
  .navItemIcon {
    margin-right: 10px;
  }
}
